<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pacmanlike">

    <application
        android:allowBackup="true"
        android:icon="@drawable/basemap"
        android:label="@string/app_name"
        android:roundIcon="@drawable/pacman_down3"
        android:supportsRtl="true"
        android:theme="@style/Theme.Pacmanlike">
        <activity
            android:name=".activities.GameOverActivity"
            android:parentActivityName=".activities.SelectionScreen"/>
        <activity
            android:name=".activities.LevelMakerActivity"
            android:parentActivityName=".activities.SelectionScreen"/>
        <activity
            android:name=".activities.GameScreen"
            android:parentActivityName=".activities.SelectionScreen"/>
        <activity
            android:name=".activities.SelectionScreen"
            android:parentActivityName=".main.MainActivity" />
        <activity android:name=".main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>